.header {

    height:70px;

    background:#0f172a;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

}


.header-left {

    display:flex;

    align-items:center;

    gap:15px;

}


.header-logo {

    width:50px;

}


.header-right {

    display:flex;

    align-items:center;

    gap:20px;

}


.header button {

    background:#2563eb;

    border:none;

    color:white;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;

}


.header button:hover {

    background:#1d4ed8;

}